<div class="row">
  <div class="col-lg-12">
      <!-- <div class="card">
          <div class="card-header">
              <i class="fa fa-align-justify"></i> Search
          </div>
          <div class="card-block">
              <div class="row">
                  <div class="form-group col-md-2">
                      <select class="form-control">
                          <option value="all">All Categories</option>
                          <option *ngFor="let category of Categories">{{category.name}}</option>
                      </select>
                  </div>
                  <div class="form-group col-md-7">
                      <input type="text" class="form-control" [(ngModel)]="searchText" id="searchText" placeholder="Search">
                  </div>
                  <div class="form-group col-md-3">
                      <button (click)="searchTips(searchText)" type="button" class="btn btn-default point">Search</button>
                      <button (click)="clearSearch()" type="button" class="btn btn-default point">Clear</button>
                  </div>


              </div>
          </div>
      </div> -->
      
      <div class="card">
          <div class="card-header">
              <i class="fa fa-align-justify"></i> List of All Vendor Tips
          </div>
          <div class="card-block">
              <table class="rwd-table table table-bordered table-striped table-condensed">
                  <thead>
                      <tr>
                          <th>Index</th>
                          <th>User Name</th>
                          <th>Service Name</th>
                          <th>Sub Service Name</th>
                          <th>Status</th>
                          <!-- <th>Actions</th> -->
                          <th class="gender">Actions</th>
                      </tr>
                  </thead>
                  <tbody>

                      <tr *ngFor="let request of requests">
                          <!-- <td data-th="Index">{{pagination(i,curPage)}}</td> -->
                          <td data-th="Vendor Name">{{request.id}}</td>
                          <td data-th="Post Image">{{request.userId}}</td>
                          <td data-th="Title"><span class="tipTitle">{{request.serviceName}}</span></td>
                          <td class="gender" data-th="Gender">{{request.subServiceName}}</td>
                          <td data-th="Category">{{request.status}}</td>
                          <td data-th="Actions">
                            <button class="btn btn-danger btn-sm point" type="button" (click)="deleteRequest(request)">Delete</button>     
                            <div class="form-group col-md-2">
                                <select class="form-control" name="statusbar" [(ngModel)]="request.status" (change)="statusChanged(request)" required>
                                    <!-- <option value="">Action</option> -->
                                    <option *ngFor="let stat of status">{{stat}}</option>
                                    
                                    <!-- <option *ngFor="let category of Categories">{{category.name}}</option> -->
                                </select>
                            </div>                         
                            <!-- <button [disabled]="request.status === 'ORDER_ACCEPTED'" class="btn btn-primary btn-sm point" type="button" (click)="requestApprove(request)">Approve Request</button>
                            <button [disabled]="request.status === 'ORDER_DECLINED'" class="btn btn-info btn-sm point" type="button" (click)="requestDecline(request)">Decline Request</button> -->
                            <!-- <button type="button" class="editIcon" (click)="modal.open()">Open me!</button> -->
                            
                        </td>
                          <!-- <td class="like" data-th="Likes">{{request.createdAt}}</td> -->
                      </tr>
                  </tbody>
              </table>
              <!-- <pagination-controls (pageChange)="changePage($event)" autoHide="true" previousLabel="" nextLabel=""></pagination-controls> -->
          </div>
      </div>
  </div>
</div>

<modal #modal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Upload Profile Pic</h4>
    </modal-header>
    <modal-body>
        <div>
       <h2>frf4</h2>

        </div>
    </modal-body>

</modal>