<div class="row">
    <div class="col-lg-12">
  
            <!-- <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Search
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="form-group col-md-2">
                        <select name="selectsearch" class="form-control" [(ngModel)]="searchService">
                            <option [ngValue]="all">All Services</option>
                            <option *ngFor="let service of services" [ngValue]="service.id">{{service.serviceName}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-7">
                        <input type="text" class="form-control" [(ngModel)]="searchText" id="searchText" placeholder="Search">
                    </div>
                    <div class="form-group col-md-3">
                        <button (click)="searchTips(searchText)" type="button" class="btn btn-default point">Search</button>
                        <button (click)="clearSearch()" type="button" class="btn btn-default point">Clear</button>
                    </div>
  
  
                </div>
            </div>
        </div> -->
        
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Add Service Prices
            </div>
  
            <div class="card-block">
              <table class="rwd-table table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Sub Service</th>
                        <th>Type</th>
                        <th>Service Price</th>
                        <th class="gender">Actions</th>
                    </tr>
                </thead>
                <tbody *ngIf="service">
                    <tr>
                      <td data-th="Title">
                          <select class="form-control col-md-8" name="servicename" [(ngModel)]="serviceRate.name">
                            <option [ngValue]="ALLl">Sub Services</option>
                            <option *ngFor="let sub of service.subService" [ngValue]="sub.subServiceName">{{sub.subServiceName}}</option>
                          </select>  
                      </td>
                      <td data-th="Title">                          
                          <select class="form-control col-md-8" name="servicetype" [(ngModel)]="serviceRate.type">
                            <option [ngValue]="ALL">All Types</option>
                            <option *ngFor="let subtype of service.servicetype" [ngValue]="subtype">{{subtype}}</option>
                          </select>  
                      </td>
                      <td data-th="Title">
                            <div class="col-md-10">
                                <input type="number" name="rate" class="form-control" [(ngModel)]="serviceRate.rate" placeholder="Price">
                            </div>
                      </td>                    
                      <td data-th="Actions">
                      <button class="btn btn-danger btn-sm point" type="button" (click)="addtypePriceadd(serviceRate)">Add</button> 
                    </td>
                    </tr>
                    <tr *ngFor="let typePrice of service.subServicePrice">
                        <td data-th="Title">{{typePrice.name}}</td>
                        <td data-th="Title"><span class="tipTitle">{{typePrice.type}}</span></td>
                        <td data-th="Title"><span class="tipTitle"></span>{{typePrice.Price}}</td>                      
                        <td data-th="Actions">
                          <button class="btn btn-danger btn-sm point" type="button" (click)="typePriceremove(typePrice)">Delete</button> 
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
  </div>
  