.Reqbtn{
    margin-right: 10px;
    margin-bottom: 10px;
}
button.btn.btn-danger.btn-sm.point{
    height: 35px;
}
button.btn.btn-info.btn-sm.point {
    padding: 8px 10px;
}
button.btn.btn-info.btn-sm {
    padding: 8px 10px;
}
label.control-label{
 font-weight: 600;
}
